body{
  padding: 0;
  margin: 0;
  font-family: 'varela' ,sans-serif;
  overflow-x: hidden;
}
.image:after{
  position: absolute;
  top:0;
  left:0;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 550px;
  content: '';
}
.image{
  background-image: url("https://static1.squarespace.com/static/4ff1c58c24acf37cb37c8e9e/t/5155b455e4b052be772f7fdb/1433232046233/IMG_7531-Edit-2.jpg?format=1500w");
  background-attachment: fixed;
  min-height:550px;
  background-repeat: no-repeat;
  background-size: 150%;
  overflow: hidden;
  color: white;
}
.content{
  top: 20%;
  width: 100%;
  height: 400px;
  position: absolute;
  z-index: 9999;
  text-align: center;
  color: white;
}
.content h1{
	font-size: 70px;
	font-weight: lighter;
	font-family:Verdana;
	margin-bottom: 10px;


}
.content hr{
	width:600px;
  height: 2px;
	margin-top: 1px;
	position: relative;
}

.content h3{
	font-size: 25px;
	font-weight: lighter;
	font-family:Verdana;
	margin-left: 2px;
}

.header .content span {
    color: rgb(255, 255, 255);
    display: inline-block;
    line-height: 25.2px;
    padding: 11px 30px;
    position: relative;
      z-index: 9999;

    border: 1px solid ;
    margin-top: 25px;

}

.header .content span:hover{
	color: #444444;
    font-size:20px;
    background-color: #ffffff;

}
.experience{
  margin-top: 40px;
}

.thumbnail{

  background: rgb(246,246,246);
  width: 300px;
  text-align: center;
  padding: 20px;
}
.thumbnail p{
  margin-top: 40px;
  color: #999999;
}
.section{
	background-image: url("https://cdn-images-1.medium.com/max/800/1*1nVHx9dAN2cCLCHsuDVGmA.jpeg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 30% 10px;
	background-size: cover;
	overflow: hidden;
	position: relative;
	min-height: 250px;
}
.section:after{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	background: rgba(0,0,0,0.4);
}
.data{
	color: white;
	position: absolute;
	z-index: 9999;
	color: white;
	padding: 53px 0 80px;
	margin-top: 20px;
	text-align:center;
	width: 100%;
}
.data h4{
	font-size: 28px;
}
.data b{
	margin-top: 12px;
	font-size:15px;
}
.courses{
  width: 34%;
  float: left;
  margin-top: 30px;
  margin-left: 21px;
  
}
.courses li:hover{
  background-color: 	#c5c3c5	;
}
.carousel{
    margin-top: 50px;
    width: 62%;
    float: left;
}
.section2{
	background-image: url("http://itsjavascript.com/portfolio/img/back.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 30% 10px;
	background-size: cover;
	overflow: hidden;
	position: relative;
	min-height: 200px;
}
.section2:after{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	background: rgba(0,0,0,0.5);
}
.foot{
    background-color: #333;
    color:white;
    height: 100px;
    margin-top: 50px;
}
.foot li{
    list-style-type: none;
}

.foot ul{
    margin-top: 30px;
    position: absolute;
}

.host{
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}
.row2{
    display: inline-block;
}
.social{
    margin-top: 50px;
}

.social li{
    display: inline;
    margin-left: 70px;

}


.social ul{
    margin-top: 100px;
    
}

.row4{
    display: flex;
}
#success_message{
    display: none;
}